# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# PyInstaller
build/
dist/
*.spec.bak

# Virtual env
.venv/
venv/
env/

# IDE
.vscode/
.idea/
resources/

# OS
.DS_Store
Thumbs.db

# Private
LOCAL.md

# Build temp
*.tmp.*
